<div class="header">
  <div class="custom-back-button" (click)="goBack()">
    <ion-icon name="arrow-back-outline" class="icon-left"></ion-icon>
    <span class="text-center">Saber más</span>
  </div>
</div>

<ion-content>
  <div class="club-title-container">
    <h1 class="club-title">{{ club?.name }}</h1>
  </div>

  <div class="image-container" *ngIf="club?.imgClub">
    <img [src]="club.imgClub" alt="Imagen del club" class="club-image" />
  </div>

  <div class="club-info-box">
    <p>{{ club?.descriptionClub }}</p>
    <p><strong>Días de encuentro:</strong> {{ club?.ClubDate }}</p>
    <p><strong>Hora:</strong> {{ club?.eventInitTime }}</p>
    <p><strong>Ubicación:</strong> {{ club?.location }}</p>
    <p><strong>Precio:</strong> {{ club?.price === 0 ? 'Gratis' : club?.price + ' Bs' }}</p>
    <p><strong>Contacto:</strong> {{ club?.contactClub }}</p>
  </div>
</ion-content>