<ion-content class="home-container">
  <div class="header-box">
    <div class="logo-box">
      <ion-img src="assets/img/logo-sophia3.png" class="logo"></ion-img>
      <p class="ion-text-uppercase">
        <strong>Hola {{userLogged.name}}!</strong>
      </p>
    </div>
    <div class="icons-box">
      <a href="/app/notifications" class="icon-link">
        <ion-icon name="notifications-circle-outline" class="icon"></ion-icon>
        <ion-badge *ngIf="notifications?.length > 0" class="notification-badge"
          >{{ notifications.length }}</ion-badge
        >
      </a>
      <a href="/app/my-profile" class="icon-link">
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
      </a>
    </div>
  </div>
  <div class="body-box">
    <ion-searchbar
      show-cancel-button="never"
      placeholder="Busca libros para intercambiar"
    ></ion-searchbar>

    <ion-img src="assets/img/pet-icon.png" class="pet-logo"></ion-img>

    <div class="message-box">
      <p class="message-title ion-text-uppercase">
        <strong>ENCUENTRA LIBROS CERCANOS</strong>
      </p>
      <p class="message-desc">
        Sophia ha encontrado libros que podrían gustarte!
      </p>
    </div>

    <p>Recomendaciones Fantasia</p>
    <div class="book-feed">
      <div class="book-scroll-container">
        <ion-card
          *ngFor="let book of books"
          class="book-card"
          (click)="goToBook(book.id, books)"
        >
          <img [src]="book.img" alt="{{ book.name }}" />
          <ion-card-header>
            <ion-card-title>{{ book.name }}</ion-card-title>
            <ion-card-subtitle>A {{ book.distance }}Km de ti</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </div>

    <p>Recomendaciones Clasicos</p>
    <div class="book-feed">
      <div class="book-scroll-container">
        <ion-card
          *ngFor="let book of books2"
          class="book-card"
          (click)="goToBook(book.id, books2)"
        >
          <img [src]="book.img" alt="{{ book.name }}" />
          <ion-card-header>
            <ion-card-title>{{ book.name }}</ion-card-title>
            <ion-card-subtitle>A {{ book.distance }}Km de ti</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </div>

    <p>Listas</p>
    <ion-card class="explore-box">
      <ion-card-header class="explore-title">
        <ion-card-title>EXPLORA MÁS</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item
            *ngFor="let category of categories"
            button
            lines="none"
            (click)="goToCategory(category.id)"
          >
            <ion-avatar slot="start">
              <img [src]="category.img" alt="{{ category.name }}" />
            </ion-avatar>
            <ion-label> {{ category.name }} </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
