<ion-tabs class="footer-tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="search-books">
      <ion-icon name="search"></ion-icon>
      Buscar
    </ion-tab-button>
    <ion-tab-button tab="trade">
      <ion-icon name="radio"></ion-icon>
      Intercambio
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="library"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="forum">
      <ion-icon name="chatbubbles"></ion-icon>
      Foro
    </ion-tab-button>
    <ion-tab-button tab="calendar">
      <ion-icon name="calendar"></ion-icon>
      Calendario
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
