// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #e9ddf2;
  --ion-text-color: #222;
  --ion-color-primary: #7f4bbd;
}

.flex{
  display: flex !important;
}